<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mogitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mogitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Mogitor.Properties.Settings>
            <setting name="MaxObjectType" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>Mogitor</value>
            </setting>
        </Mogitor.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Mogitor.Properties.Settings>
            <setting name="FrameRate" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="UseWpfDisplaySurface" serializeAs="String">
                <value>True</value>
            </setting>
        </Mogitor.Properties.Settings>
    </userSettings>
</configuration>