<config>
	<precompiled_headers use="true">
		<include>Ogre.h</include>
		<include>jni.h</include>
	</precompiled_headers>
	<!--exception_handling use="0"		no exception handling -->
	<!--exception_handling use="1"		Java exceptions, try-catch block -->
	<!--exception_handling use="2"		Java and C++ exceptions, not implementet yet -->
	<exception_handling use="0"/>
	<!-- validation of parameter (object == null) -->
	<validation use="true"/>
	<!-- autodispose the created object -->
	<autodispose use="true"/>
	<!-- path where Java and C++ files will be generated -->
	<path>./build/cpp2java</path>
	<!-- prefix für the C++ files -->
	<prefix_cpp>Ogre4j</prefix_cpp>
	<!-- mapping of Vector, Matrix...		true/false -->
	<vecmath>false</vecmath>
	<!-- not in use -->
	<interfaces>
		<interface>SharedPtr</interface>
	</interfaces>
	<!-- classname where to store global variables and enums.. -->
	<constants>_Constants</constants>
	<handle_structs_as_classes use="true"/>
	<!-- package name for NativeObject etc. -->
	<wrapper_package>base</wrapper_package>
	<!-- path to file with typedefs that won't be generated -->
	<ignore>ignore.xml</ignore>
	<!-- name for nameless enums -->
	<enum_name>LOCALENUM</enum_name>
	<!-- exception in dispose(), NativeObject _autoCreated -->
	<dispose_exception use="true">true</dispose_exception>
	<!-- STD wrapper -->
	<std type="std.ifstream">StdIFStream</std>
	<std type="std.ofstream">StdOFStream</std>
	<std type="std.ios.fmtflags">StdIOSFmtflags</std>
</config>
